{% extends 'bases/base.html' %}

{% block title %}Campeonatos{% endblock %}

{% block h2 %}Campeonatos{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/cadastros">Cadastros</a></li>
        <li><a href="/clubes">Clubes</a></li>
        <li><a href="/campeonatos" class="ativo">Campeonatos</a></li>
        <li><a href="/partidas">Partidas</a></li>
        <li><a href="/gamer">Gamers</a></li>
    </ul>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="/rank">Rank Geral</a></li>
        <li><a href="/paulistao">Paulistão</a></li>
        <li><a href="/libertadores">Libertadores</a></li>
    </ul>

{% endblock %}
