{% extends 'bases/base.html' %}

{% block title %} Partidas {% endblock %}

{% block h2 %} Partidas {% endblock %}

{% block nav %}
<ul>
    <li><a href="/">Homepage</a></li>
</ul>
{% endblock %}

{% block menu %}
<ul>
    <li><a href="/cadastros/partidas">Cadastros de Partidas</a></li>
    <li><a href="/rank">Classificação</a></li>

</ul>
<br>
<ul>
    <li><a href="/">Voltar</a></li>

</ul>
{% endblock %}

{% block content %}
<h3>Buscar Partidas</h3>
<form method="get" action="/partidas">
    <input type="text" name="busca" placeholder="Buscar por time">
    <button type="submit">Buscar</button>
</form>
<p>
    <strong>{{ total }} partida{{ 's' if total else ' ' }} encontrado{{ 's' if total else ' ' }}</strong>
</p>

<table id="table-jogos">
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Mandante</th>
        <th>Resultado</th>
        <th>Visitante</th>
        <th>Estadio</th>
        <th>Campeonatos</th>
    </tr>
    {% for jogo, mandante, visitantes in partidas %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ jogo.data.strftime('%d/%m/%Y') }}</td>
        <td class="img-name">
            <div>
                {% if jogo.mandante.escudo %}
                <img src="{{url_for('static', filename=jogo.mandante.escudo ) }}"
                     alt="{{ jogo.mandante.nome }}">
                {% else %}
                <span>None</span>
                {% endif %}
            </div>
            <div>
                {{ jogo.mandante.nome }}
            </div>
        </td>
        <td>{{ jogo.gols_mandante }} x {{ jogo.gols_visitante }}</td>

        <td class="img-name">
            <div>
                {% if jogo.visitante.escudo %}
                <img src="{{ url_for('static', filename=jogo.visitante.escudo) }}"
                     alt="{{ jogo.visitante.nome }}">
                {% endif %}
            </div>
            <div>
                {{ jogo.visitante.nome }}
            </div>
        </td>
        <td>{{ jogo.mandante.estadio }}</td>
        <td>{{ jogo.campeonato }}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">Nenhuma partida encontrada.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
