{% extends 'bases/base.html' %}

{% block title %}Brasil{% endblock %}

{% block h2 %}Brasil{% endblock %}

{% block nav %}
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/cadastros">Cadastros</a></li>
        <li><a href="/clubes">Clubes</a></li>
        <li><a href="/campeonatos" class="ativo">Campeonatos</a></li>
        <li><a href="/partidas">Partidas</a></li>
        <li><a href="/gamer">Gamers</a></li>
    </ul>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="/rankbrasil">Classificação geral</a></li>
        <li><a href="{{ url_for('estadual.estaduais') }}">Estaduais</a></li>
    </ul>
{% endblock %}
