@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        margin-bottom: 15px;
    }

    .display {
        width: 100%;
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 1.5rem;
    }

    .menu, .display {
        padding: 10px;
    }
}
